
#principal{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,40em);
    font-family: Hack, sans-serif;
    font-weight: lighter;
}
/* COLLUMNA IZQUIERDA POSITION:FIXED */
#column-izq{
    background: rgb(0,0,0);
}
/*BOX IMAGEN DEL PERFIL */
#image-profile{
    
    width: 300px;
    height: 300px;
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 12%;
    left: 15%;
    
}
#image-profile img{
   
    width: 100%;
    clip-path: circle(40% at center);
    padding: 7px;
  
}
#welcomeMsg{
    word-spacing: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15px;
    background: transparent;
    rotate: 270deg;
    position: fixed;
    top:47%;
    left:-41%;
    
}  
#welcomeMsg p {
    
      font-weight: lighter;
      text-align: center;
      font-size: 68px;
      line-height: 60px;
      font-family: Hack, sans-serif;
      text-transform: uppercase;
      background: linear-gradient(90deg, grey, black, white);
      letter-spacing: 2px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-repeat: no-repeat;
      background-size: 90%;
      animation: shine 5s linear infinite;
  
}
#Msg{

    display: flex;
    justify-content: start;
    align-items: start;
    width: 50%;
    min-height: 20px;
    background: transparent;
    position: fixed;   
    top:-1%;
    left:-1%;
    
}  
#Msg p {
      
      font-weight: lighter;
      text-align: center;
      font-size: 60px;
      line-height: 60px;
      letter-spacing: 5px;;
      font-family: Hack, sans-serif;
      text-transform: uppercase;
      background: linear-gradient(90deg, grey, black, white);
      letter-spacing: 2px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-repeat: no-repeat;
      background-size: 90%;
      animation: shine 5s linear infinite;
  
}
#Msg1{

    display: flex;
    justify-content: start;
    align-items: start;
    width: 50%;
    min-height: 20px;
    background: transparent;
    position: fixed;   
    top:6%;
    left:3%;
    
}  
#Msg1 p {
      
      font-weight: lighter;
      text-align: center;
      font-size: 60px;
      line-height: 60px;
      letter-spacing: 5px;;
      font-family: Hack, sans-serif;
      text-transform: uppercase;
      background: linear-gradient(90deg, grey, black, white);
      letter-spacing: 2px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-repeat: no-repeat;
      background-size: 90%;
      animation: shine 5s linear infinite;
  
}  
#Msg2{

    display: flex;
    justify-content: start;
    align-items: start;
    width: 50%;
    min-height: 20px;
    background: transparent;
    position: fixed;   
    top:37%;
    left:-19%;
    transform: rotate(270deg);
}  
#Msg2 a {
      text-decoration: none;
      font-weight: lighter;
      text-align: center;
      font-size: 60px;
      line-height: 60px;
      letter-spacing: 5px;
      font-family: Hack, sans-serif;
      text-transform: uppercase;
      background: linear-gradient(90deg, grey, rgba(0, 255, 42, 0.314), white);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-repeat: no-repeat;
      background-size: 90%;
      animation: shine 5s linear infinite;
  
}   
@keyframes shine {
      0% {
        background-position-x: -500%;
      }
      100% {
        background-position-x: 500%;
      }
}
#menu-contacto{
    
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 60%;
    left: 30%;
    
}
#home{
    text-decoration: none;
    background: white;
    border: 3px solid chartreuse; 
    font-size: 30px;
    color: black;
}
#menu-contacto a{ 
    text-decoration: none;
    color: black;
    letter-spacing: 5px;;
    font-family: Hack, sans-serif;
    font-weight: lighter;
}
#menu-contacto a:hover{
    background-color: white;
    text-transform: lowercase;
}
.wrapper{
    
    width:130px;
    height:50px;
    text-align: left;
    align-items: center;
    align-content: center; /*Alinea con la altura del box que este*/
}
.wrapper span{
    
    font-size: 40px;
    text-decoration: none;
    font-weight: lighter;
    color: black;
    animation: lighting 1s alternate infinite ease;
}
@keyframes lighting{
    0%,85%{
        color: #4b4b4b;
        text-shadow: none;
    }
    100%{
        color:white;
        text-shadow: 0 0 5px #262624, 0 0 3px black;
    }
}
.wrapper span:nth-child(1){
    animation-delay: 150ms;
}
.wrapper span:nth-child(2){
    animation-delay: 300ms;
}
.wrapper span:nth-child(3){
    animation-delay: 450ms;
}
.wrapper span:nth-child(4){
    animation-delay: 600ms;
}
.wrapper span:nth-child(5){
    animation-delay: 750ms;
}





#column-der{
    padding: 10px;
    width: 170%;
}
#bg-text {
   
    padding-top: 12px;
    word-spacing: 5px;
    letter-spacing: -3px;
    color: black;
    font-weight: lighter;
    font-size: 60px;
    width: 100%;
    height: 45px;
    text-align: right;
    align-content: center;

   }
#content-about{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: right;
    text-align: justify;
    border-radius: 10px;
    color:black;

}
#content-about:hover{
  
    opacity: 0.75;
    color: #4b4b4b;
    background-color: #eee;
}

#exp{
    margin-top: 8px;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    color:black;
    overflow:hidden;
}
#exp:hover{
    transform: scale(1);
    opacity: 0.75;
    color: #4b4b4b;
    background-color: #eee;
}
#subHeadExp{
    
    text-align: right;
    font-size: 35px;
    letter-spacing: 5px;
    color: black;

}
#content-exp p{
    line-height: 12px;
}
#content-exp span{
   display: inline-block;
   background-color: #4b4b4b;
   box-shadow: 3px black;
   color: #eee;
   border-radius: 5px;
   padding: 2px;
   margin-left: 5px;
}

#contacto{
    align-items: start;
    padding: 10px;
    margin:10px;
}
#contacto span {

    margin-left: 10px;
    display: inline-block;
    background-color: chartreuse;
    box-shadow: 3px 3px black;
    color:black;
    animation: shaky 5s infinite;
    padding: 5px;
    border-radius: 5px;
}  
@keyframes shaky{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}






