<div class="container-fluid" id="content">

    <div class="row" id="content">
      <div class="col-sm-5">
        <img class="mx-auto d-block" src="assets/images/img4.jpg" alt="a">
      </div>
      <div class="col-sm-7" id="content">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra dolor in justo elementum, id
          eleifend tortor iaculis. Integer leo massa, pulvinar ac elit sit amet, aliquet blandit nibh. Proin lobortis
          tempus eros at malesuada. Maecenas accumsan porta eros rutrum dictum. Fusce sit amet dolor neque. Vestibulum
          quis condimentum nibh. Nulla viverra mi et molestie mollis. Nulla aliquam fermentum faucibus. Morbi ante mi,
          porta at elementum id, maximus non nibh. Pellentesque malesuada nibh eu ornare sodales.</p>
        
      </div>
    </div>
  </div>

